{#
    Search configuration by location of production.
#}

<div class="search ui-widget" style="display:inline-block">
        <label for="inp_search_veh_conf">{{ 'vehicles.configuration.partials.search.twig.searchLocationLabel' | trans }}</label><br>
    <input id="inp_search_veh_conf_by_location" name="inp_search_veh_conf_by_location" type="text" value="" style="">
</div>
<div class="options-bar">
    <ul class="submenu_ul">
        <li><span id="btn_search_veh_conf_by_location"
                  class="sts_submenu W140 disabled">{{ 'vehicles.configuration.partials.search.twig.searchButton' | trans }}</span>
        </li>
    </ul>
</div>