
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/

vendor/*
!vendor/setasign/

vendor/setasign/*
!vendor/setasign/fpdf/

vendor/setasign/fpdf/*
!vendor/setasign/fpdf/font/

vendor/setasign/fpdf/font/*
!vendor/setasign/fpdf/font/OpenSans-Bold.php
!vendor/setasign/fpdf/font/OpenSans-Bold.z
!vendor/setasign/fpdf/font/OpenSans-Regular.php
!vendor/setasign/fpdf/font/OpenSans-Regular.z
!vendor/setasign/fpdf/font/OpenSans-Italic.php
!vendor/setasign/fpdf/font/OpenSans-Italic.z

###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
